

# $ ==================== ↓ OVN

.vscode/*
# .github/
# .claude/
# .copilot/

node_modules/
# .build/*
# build/
# dist/

-/---/
-/GreasyFork.md

*.ovn
*.xxfilterxx.*
resource/source/
custom.ico


# ==================== ↓ Other

.venv/
.env
.env/

.DS_Store
desktop.ini

*.db
*.log
*.cache
*.tmp
*.temp


# ==================== ↓ KEEP

!**.gitkeep
!.vscode/tasks.json

