

# $ ==================== ↓ OVN

node_modules/
# .vscode/
# .github/

# .build/
# build/
# dist/

-/---/
-/MEMORY.md
-/NORM.md
-/versions/*.js

resource/source/
custom.ico
*.xxfilterxx.*


# ==================== ↓ KEEP

!.build/.cache/


# ==================== ↓ Other

.venv/
.env/

.DS_Store
desktop.ini

*.db
*.log
*.cache
*.tmp
*.temp

