

html {
    
    &:root body {
        
        --ovnBaiduR: -6px;
        --ovnBaiduTR: 18px;
        --ovnBaiduC: #3978d0;
        --ovnBaiduBG: var(--ovnBase09HEX);
        --ovnBaiduP: var(--ovnSpacePadding);
        --ovnBaiduM: var(--ovnSpaceMargin);
        --ovnBaiduS: var(--ovnOftenSurfaceShadowBase);
        --ovnBaiduSH: var(--ovnOftenSurfaceShadowHover);
        --ovnBaiduSS: var(--ovnSurfaceShadow);
        --ovnBaiduG: var(--ovnGlassBase);
        --ovnBaiduGS: var(--ovnGlassShadow);
        --ovnBaiduF: var(--ovnPanelFilter);
        --ovnBaiduOT: var(--ovnOftenTrans);
        --ovnBaiduT: var(--ovnOftenTransition);
        --ovnBaiduZ: var(--ovnSurfaceZoomIn);
        --ovnBaiduBC: var(--ovnBaseColor);
        --ovnBaiduWidth: var(--ovnSpaceWidthVW);
        --ovnBaiduSearch: calc(var(--ovnSpaceWidthVW) / 2 );
        
        --ovnBaiduRS: var(--ovnBaseRadius);
        --ovnBaiduRU: var(--ovnUIRadius);
        --ovnBaiduRM: var(--ovnPanelRadius);
        --ovnBaiduRL: var(--ovnSurfaceRadius);
        --ovnBaiduRX: var(--ovnRadiusX);
        
    }
    
    #foot,                                                                      // ==== 底部 - 帮助 反馈 支持
    #searchTag,                                                                 // ==== 顶部 - 搜索关联词
    #content_right,                                                             // ==== 内容区 - 右侧板块
    #rs_new .c-color-t[class*="rs-label_"],                                     // ==== 底部 - 相关搜索 标题
    #container .c-container[tpl="note_lead"],                                   // ==== 内容区 - 模块 精选笔记
    #container .c-container[tpl="yl_vd_generic_new"],                           // ==== 内容区 - 模块 电影
    #container .c-container[tpl="recommend_list"] .c-color-t[class*="title_"] { // ==== 内容区 - 大家还搜索了 标题
        display: none;
    }
    
    // $ ================================================== ↓ Global
    
        .cos-button { border-radius: var(--ovnBaiduRM); }
        body { background: var(--ovnBaiduBG); }
        
        @media (width <= 1500px) { #u { display: none; } }
        @media (width <= 1260px) {
            body.pc-fresh-wrapper-con {
                --ovnX: 92vw;
                --ovnGap: 60px;
                overflow-x: hidden;
                min-width: auto;
                width: var(--ovnX);
                max-width: var(--ovnX);
            }
            #wrapper #s_tab {
                width: 100vw;
                justify-content: center;
                .s_tab_inner.s_tab_inner.s_tab_inner {
                    padding: 0 min(calc(var(--ovnGap) * 2), 20px);
                    justify-content: space-evenly;
                    width: var(--ovnX);
                    min-width: max-content;
                }
            }
            #wrapper #wrapper_wrapper {
                margin: 0 var(--ovnGap);
                width: calc(100vw - var(--ovnGap) * 2);
            }
            #wrapper #wrapper_wrapper #container #content_left {
                padding-top: 10px !important;
            }
        }
        @media (width <= 926px) {
            body.pc-fresh-wrapper-con {
                --ovnGap: 20px;
            }
            #wrapper #head {
                min-width: max-content;
                margin: 0 var(--ovnGap);
                .s_form { justify-content: flex-start; }
            }
            #wrapper #main-wrapper {
                width: calc(var(--ovnX) - 100px);
                @media (width <= 526px) {
                    width: min(calc(var(--ovnX) - 100px), 350px);
                }
            }
        }
        
        // ==================== ↓ 文本样式
        
            #container .c-container :is(
                .t *,
                .c-title *,
                .cosc-title-slot,
                .cosc-title-slot:hover,
                .cosc-title-a :is(:hover, :hover em),
                [class*="video-main-title_"]:hover [class*="title-default_"],
                [class*="title_"] .cos-link,
                [class*="site-link_"] .custom-underline a .cosc-title-slot:hover
            ), a, em, :link, a:hover, em:hover, a:hover em, a.cos-link:hover {
                text-decoration: none;
            }
            a.cosc-title-a .cosc-title-slot, a.cosc-title-a .cosc-title-slot em,
            a.cosc-title-a .cosc-title-slot:hover, a.cosc-title-a .cosc-title-slot:hover em,
            [class*="vmp-project-new_"] [class*="vmp-project-title_"] :is(a, a em) {
                text-decoration: none;
            }
            
            #container .c-container :is(
                [class*="_sc-title_"] :is(*, :hover, :hover *),
                [class*="doc-title_"] :is(a:hover, &:hover em, a:hover em) 
            ) {
                text-decoration: none !important;
            }
            
            a, a:hover, a.cos-link, a.cos-link:hover { color: var(--ovnBaiduC); }
            [class*="info_"] > [class*="title_"] {
                color: var(--ovnBaiduC);
                font-size: 12px;
                font-weight: normal;
                line-height: 1.5;
                &:hover {
                    text-decoration: none;
                    color: var(--ovnBaiduC);
                }
            }
            
        // ==================== ↓ 内容区图片尺寸
        
            .c-container[tpl="ai_ecology"] .cos-row-col-12 > .cos-col-6,                      // ==== 轻秒图片转换器
            .c-container .cos-swiper-list .cos-swiper-item[style*="width: 34%;"],             // ==== 百度翻译
            .c-container .cos-swiper-list .cos-swiper-item[style*="width: calc(33% - 5px)"] { // ==== 百度有驾
                width: 15% !important;
            }
            .c-container[tpl="nvl_bookstore_san"] .cos-row-col-12 > .cos-col-3,                          // ==== 在线阅读
            .c-container[tpl="b2b_factory_wise_san"] .cos-row-col-12 > .cos-col-3,                       // ==== 百度爱采购
            .c-container[tpl="sg_kg_entity_san"] .cos-row.cos-gutter > .cos-col-3,                       // ==== 百度百科
            .c-container .cos-row > .cos-col[style*="width:25%"],                                        // ==== 百度百科
            .c-container .cos-row.bottom-gap_2aWpR.single-image_6zdhC > .cos-col[style*="width:24.5%"] { // ==== 电影 封面
                width: 10% !important;
                min-width: 100px;
            }
            
        // ==================== ↓ 原生模块边框
        
            .pc-fresh-smooth .cu-border:after,
            .pc-fresh-smooth .c-group-wrapper::after,
            .pc-fresh-smooth .cosc-card-shadow:after,
            .pc-fresh-smooth .c-border::after {
                border: transparent;
            }
            
            .pc-fresh-smooth [class*="jr-exrate-pc-wrapper_"] {
                outline: transparent;
            }
            
        // ==================== ↓ 原生模块阴影
        
            .cu-border,
            .c-border,
            .cosc-card-shadow,
            [class*="re-box-shadow_"],
            [class*="pc-first-style_"] {
                box-shadow: none;
            }
            
            
    // $ ================================================== ↓ Head
    
        .wrapper_new #head { 
            
            top: 0;
            width: 100%;
            background: var(--ovnBaiduG) !important;
            backdrop-filter: var(--ovnBaiduF);
            transition: var(--ovnBaiduT);
            
            &.peak-down { background: transparent; }
            &.s_down { box-shadow: var(--ovnBaiduGS); }
            
            // ==================== ↓ 搜索框
            
                .s_form {
                    display: flex;
                    justify-content: center;
                    padding: 0;
                    width: auto;
                }
                .s_ipt_wr, .bdsug-new { width: var(--ovnBaiduSearch); }
                
                .soutu-env-new .soutu-layer .soutu-url-wrap,
                .soutu-env-new .soutu-layer #soutu-url-kw {
                    width: var(--ovnBaiduSearch);
                }
                
                #kw { width: 87%; }
                
                
            // html #wrapper #head:not(.s-manhattan-index div, .s_form_nologin div) {
                // .head_wrapper {
                //     display: flex;
                //     justify-content: space-around;
                //     transform: translate3d(-15px, 0 , 1px);
                //     width: 100%;
                // }
                
                // /* ========== ↓ 用户中心 */
                
                //     .head_wrapper #u {
                //         position: fixed;
                //         right: 40px;
                //         padding: 0;
                //     }
            // }
            
        }
        
        // ==================== ↓ 分类
        
            .new-pmd[tpl="app/head-tab"] {
                
                #s_tab {
                    display: flex;
                    justify-content: center;
                    border: none;
                    padding-top: 70px;
                    padding-left: 0;
                    
                    .s_tab_inner.s_tab_inner.s_tab_inner {
                        width: calc(var(--ovnBaiduSearch) + 260px);
                        min-width: 920px;
                    }
                    
                }
                
            }
            
            
    // $ ================================================== ↓ Content
    
        // html #wrapper #wrapper_wrapper #container #content_left .c-container[tpl="XXXXX"]
        
        #wrapper_wrapper {
            
            margin: 0 auto;
            width: var(--ovnBaiduWidth);
            transition: var(--ovnBaiduT);
            
            #container {
                width: 100%;
                padding: 0;
                margin: 0 auto;
            }
            #container #content_left {
                width: 100%;
                padding: 0 !important;     // 覆盖官方
                margin: 0 auto !important; // 覆盖官方
            }
            
        }
        
        :where(#wrapper) {
            
            // ==================== ↓ Markdown
            
                --ovnBaiduMdT: 15px;
                --ovnBaiduMdC: 14px;
                --ovnBaiduMdH: 1.5em;
                
                --cos-leading-caption-sm: var(--ovnBaiduMdT);
                --cos-text-body-lg-higher: var(--ovnBaiduMdC);
                
                .cosd-markdown .marklang h3,
                [class*="accordion-panels-link_"] [class*="accordion-panels-title_"] {
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 1.5;
                }
                
                [class*="follow-up-guide_"],
                .cosd-markdown .marklang .marklang-paragraph,
                [class*="baikan-pc-experiment_"] .cosd-markdown .marklang,
                [class*="pc-content-container_"] .cosd-markdown .marklang {
                    font-size: 14px;
                }
                
                [class*="follow-up-guide_"],
                .cosd-markdown .marklang li,
                .cosd-markdown .marklang .marklang-paragraph {
                    line-height: var(--ovnBaiduMdH);
                }
                
                .marklang ol li, .marklang ul li {
                    min-height: var(--ovnBaiduMdH);
                }
                
                .cos-accordion [class*="accordion-panels-link-header_"] div span {
                    font-weight: bold;
                }
                
            // $ ==================== ↓ TopTip
            
                #rs_top_new, .hit-toptip, .hit_top_new {
                    opacity: .6;
                    display: flex;
                    justify-content: center;
                    margin: 20px 0 10px;
                }
                .new-pmd {
                    
                    &:is([tpl="app/toptip"], [tpl="app/search-tool"], [tpl="app/hit-top-new"]) {
                        br { display: none; }
                    }
                    
                    &[tpl="app/toptip"] {
                        .c-gap-bottom-large { margin-bottom: 0px; }
                    }
                    &[tpl="app/hit-top-new"] {
                        .c-icon-bear-circle { transform: scale(.8); }
                    }
                    &[tpl="app/search-tool"] {
                        // ========== 筛选信息
                        [class*="outer_"] { margin-top: 10px;}
                        [class*="options_"] { opacity: .8; width: 90%; margin: 0 auto;}
                    }
                    
                }
                // ========== 请以商家官网为准
                .k8vt8hp {
                    opacity: .5;
                    margin: 0 auto;
                    margin-top: 10px;
                    width: max-content;
                }
                
            // $ ==================== ↓ 组件
            
                :where(.c-container) {
                        
                    // $ ==================== ↓ 计算器
                    
                        &[tpl="ms_new_calc"] {
                        
                            .new-pmd { width: 60%; margin: 20px auto; }
                            [class*="calc-oprate_"] { display: flex; justify-content: space-evenly; }
                            [class*="calc-oprate_"] [class*="func-calc_"] { width: 60%;}
                            
                            [class*="calc-box_"] {
                                box-shadow: 
                                    inset 1px 1px 1px 0px rgba(255, 255, 255, 0.8),
                                    inset -1px -1px 1px 0px rgba(40, 49, 85, 0.3),
                                    1px 1px 3px 0px rgba(40, 49, 85, 0.1);
                            }
                            
                        }
                        
                    // $ ==================== ↓ 日历
                    
                        &[tpl="ms_calendar_san"] {
                        
                            &.new-pmd { width: 60%; min-width: 600px; margin: 20px auto; }
                            [class*="_bg-header_"] { width: 99%; top: -5px; left: 5px; }
                            
                        }
                        
                    // $ ==================== ↓ 百度时间
                    
                        &[tpl="world_time_san"] {
                        
                            [class*="source_"] { position: absolute; bottom: 5px; }
                            [class*="_paragraph"].md, .sc-source-text { color: #FFF; }
                            
                        }
                        
                    // $ ==================== ↓ 汇率换算
                    
                        &[tpl="jr_exrate_san"] {
                        
                            [class*="aladdin_"] [class*="bg-header_"] { top: calc(-10px + var(--ovnBaiduR)); }
                            
                        }
                        
                    // $ ==================== ↓ 单位换算
                    
                        &[tpl="ms_measures_san"] {
                        
                            .cosc-card-light-bg { top: -18px; }
                            .cosc-card-horizontal-gradient { width: 110%; background-position: center; }
                            
                        }
                        
                }
                
            // $ ==================== ↓ 模块
            
                #container {
                    
                    &#container {
                        
                        [class*="title-box_"] { width: 100%; }
                        
                        :is(h3.t, h3.cosc-title):not( 
                            .cos-space-mt-md h3,
                            [tpl="world_time_san"] h3,
                            [tpl="fy_sg_dict_new_san"] h3,
                            [tpl="wenda_generate"] h3,
                            [tpl="jr_quote"] h3,
                            [tpl="fy_fanyi_ai_san"] h3,
                            [tpl="jr_stock_comment_san"] h3,
                            [class*="doctorName_"] > h3,
                            [class*="card-title_"] > h3,
                            [class*="exta-links-pc_"] > h3,
                            [class*="exta-link-pc_"] > h3,
                            [class*="sitelink-summary_"] > h3
                        ) {
                            padding: var(--ovnBaiduP);
                            margin: -10px -20px 10px -20px;
                            width: 100%;
                            background: var(--ovnBaiduBG);
                            border-radius: var(--ovnBaiduRL) var(--ovnBaiduRL) 5px 5px;
                        }
                        :is(h3.t, h3.cosc-title) {
                            > a, .cosc-title-md {
                                color: var(--ovnBaiduC);
                                font-size: 15px;
                                font-weight: bold;
                                line-height: 1.5;
                            }
                        }
                        
                        // ========== 官方标
                        [class*="title-box_"] [class*="prefix-icon_"] {
                            position: absolute;
                            right: 0;
                            transform: scale(.8);
                            [class*="tag_"] {
                                padding: .4em .5em;
                                margin: 0;
                                border-radius: var(--ovnBaiduRU);
                            }
                        }
                        
                    }
                    
                    :is(.new-pmd.c-container, .new-pmd.xpath-log, .new-pmd[tpl="app/rs"]) {
                        box-sizing: border-box;
                        position: relative;
                        padding: var(--ovnBaiduP);
                        margin: var(--ovnBaiduM);
                        width: 100% !important; // 覆盖官方
                        font-size: 12px;
                        background: #FFFFFF;
                        box-shadow: var(--ovnBaiduS);
                        border-radius: var(--ovnBaiduRL);
                        transition: transform var(--ovnBaiduOT);
                        &:hover {
                            z-index: 2;
                            box-shadow: inset 0 0 2px hsla(0, 0%, 92%, .6), var(--ovnBaiduSH);
                            transform: var(--ovnBaiduZ);
                        }
                    }
                    #content_left > :first-of-type:hover,           // ==== 内容区 首个
                    .new-pmd[tpl="yl_ps_main"]:hover,               // ==== 首屏
                    .new-pmd[tpl="yl_ps_relationship"]:hover,       // ==== 人物关系
                    .new-pmd[tpl="ai_ask"]:hover,                   // ==== AI 提问
                    .new-pmd[tpl="new_baikan_index"]:hover,         // ==== AI 提问
                    .new-pmd[tpl="wenda_generate"]:hover,           // ==== AI 问答生成
                    .new-pmd[tpl="app/rs"]:hover,                   // ==== 相关搜索
                    .new-pmd[tpl="recommend_list"]:hover,           // ==== 相关搜索
                    .new-pmd[tpl*="jr_stock"]:hover,                // ==== 百度股市通
                    .new-pmd[tpl*="jr_quote"]:hover,                // ==== 百度股市通
                    .new-pmd[tpl="jr_exchange_rate"]:hover,         // ==== 百度股市通
                    .new-pmd[tpl="guanfanghao_san"]:hover,          // ==== 百家号
                    .new-pmd[tpl="image_grid_san"]:hover,           // ==== 百度图片
                    .new-pmd[tpl="fy_fanyi_ai_san"]:hover,          // ==== 百度翻译
                    .new-pmd[tpl="fy_sg_dict_new_san"]:hover,       // ==== 百度翻译
                    .new-pmd[tpl="sg_kg_entity_san"]:hover,         // ==== 百度百科
                    .new-pmd[tpl="bk_polysemy"]:hover,              // ==== 百度百科
                    .new-pmd[tpl="jy_wenku_wenshu"]:hover,          // ==== 百度文库
                    .new-pmd[tpl="xueshu_links_new"]:hover,         // ==== 百度学术
                    .new-pmd[tpl="med_wenzhen_san"]:hover,          // ==== 百度健康
                    .new-pmd[tpl="med_aigc_guru_san"]:hover,        // ==== 百度健康
                    .new-pmd[tpl="med_doctor_same_name_san"]:hover, // ==== 百度健康
                    .new-pmd[tpl="ai_agent_qa_recommend"]:hover,    // ==== 聊一下更多精彩 
                    .new-pmd[tpl="yl_rw_figure_sample_san"]:hover { // ==== 作品成就
                        transform: none;
                    }
                    
                    // ==================== ↓ 修正
                    
                        // ========== 内容块间隙
                        &.sam_newgrid #content_left .result-op, &.sam_newgrid #content_left .result { margin-bottom: 0; }
                        
                        // ========== 第一组 ? 内容宽度
                        .c-group-wrapper.c-group-no-border {
                            margin: 0 auto;
                        }
                        
                }
                
                #container .new-pmd {
                    
                    .recommend-none-border { display: flex; gap: 20px; }
                    .c-gap-top-middle { margin-top: 0; }
                    
                    &[tpl="www_index"] {
                        
                        [class*="exta-link-pc_"] { margin-bottom: 4px; }
                        
                    }
                    
                    // $ ==================== ↓ 百度 AI
                    
                        // .c-group-wrapper {
                        //     padding: 0;
                        //     margin: 0;
                        //     background: transparent;
                        //     box-shadow: none;
                        // }
                        // .c-group-wrapper .result-op { width: 100% !important; }
                        
                        &[tpl="ai_index"],
                        &[tpl="wenda_generate"],
                        &[tpl="new_baikan_index"] {
                            
                            [class*="nbk-index_"] [class*="content-folded_"] {
                                max-height: 526px !important; // 覆盖内联
                            }
                            [class*="cosd-fold-switch-mask_"] { border-radius: 0 0 var(--ovnBaiduRL) var(--ovnBaiduRL); }
                            [class*="cosd-fold-switch_"] { padding: 20px 0 0; }
                            [class*="follow-up_"] { margin-top: 30px; }
                            [class*="follow-up-guide_"] { margin-bottom: 24px; }
                            
                            // overflow: auto;
                            // max-height: calc(526px + 40px);
                            // &::-webkit-scrollbar { display: none; }
                            
                            [style*="--cardBg"] { margin-top: -13px; }
                            [class*="card-border_"] { border-color: transparent; }
                            
                            // .cosc-card-content { margin-top: var(--ovnBaiduR); }
                            .cosc-card-light-bg:not([tpl="wenda_generate"] div) { top: var(--ovnBaiduR); }
                            .cosd-markdown .marklang .marklang-paragraph { line-height: 1.5; }
                            
                            .cosc-card-shadow { padding: 10px var(--cos-space-md) 10px; }
                            
                        }
                        &[tpl="ai_index"] {
                            
                            // &:hover { transform: none; }
                            
                            [class*="_aladdin"] {
                                width: 97%;
                                margin: 0 auto;
                                padding: 0;
                            }
                            
                            [class*="swiper-box_"] {
                                width: 102.6%;
                                margin: -10px auto;
                                margin-left: -20px;
                                box-shadow: none;
                                border-radius: var(--ovnBaiduRM);
                            }
                            [class*="_bg-header_"] { overflow: visible; }
                            [class*="_horizontal-gradient_"] {
                                width: 102.6%;
                                margin: 3px auto;
                                margin-left: -20px;
                                background-size: 110% 100% !important;
                                background-position: top center !important;
                                border-radius: var(--ovnBaiduRM);
                            }
                            
                        }
                        &[tpl="wenda_generate"] {
                        
                            padding-top: var(--ovnBaiduTR);
                            [class*="cos-dqa-group-bg_"] .cosc-card-light-bg {
                                top: -15px;
                                left: -15px;
                                right: -15px;
                            }
                            
                            // ========== ICON 听
                            [class*="audio_"] { margin-top: 0; }
                            
                        }
                        &[tpl="new_baikan_index"] {
                            
                            padding-top: var(--ovnBaiduTR);
                            padding-bottom: 0;
                            
                            // [class*="nbk-index_"] [class*="nbk-interact_"] {
                            //     margin: 0;
                            //     padding: 15px 0;
                            // }
                            
                            .cos-accordion-panel-header { padding-top: 5px; }
                            [class*="cosd-fold-switch_"] { padding: 15px 0; }
                            
                            // ========== 图片宽度
                            .cosd-video-scroll-swiper-item { max-width: 260px !important; } // 覆盖官方
                            [class*="nbk-index_"] .cosd-markdown .marklang ul > li:before { top: 7px; }
                            
                        }
                        
                    // $ ==================== ↓ 百度翻译
                    
                        &[tpl="fy_fanyi_ai_san"],
                        &[tpl="fy_sg_dictwisenew_san"] {
                        
                            h3.cosc-title { background: transparent; }
                            [class*="dict-card_"] .cosc-card { padding-top: 0 !important; }
                            
                            [class*="daoliu-con_"] { margin-top: 15px; }
                            [class*="footer_"] { margin-top: -5px; }
                            
                            .cosc-card-content { margin-top: var(--ovnBaiduR); }
                            .cosc-card-light-bg:not([tpl="wenda_generate"] div) { top: var(--ovnBaiduR); }
                            
                        }
                        &[tpl="fy_sg_dict_new_san"],
                        &[tpl="fy_sg_dictwisenew_san"] {
                            
                            .cosc-card-shadow {
                                padding-top: 10px;
                                padding-bottom: 5px;
                            }
                            .cos-swiper-item { max-width: 15%; }
                            [class*="video-wrap_"] .ovnFocal::after { display: none; }
                            
                        }
                        
                        &[tpl="fy_fanyi_ai_san"] {
                            
                            .cos-space-mb-lg { margin-top: 10px; }
                            .cos-divider { background-color: transparent; }
                            
                        }
                        &[tpl="fy_sg_dict_new_san"] {
                            
                            padding-top: var(--ovnBaiduTR);
                            
                            .cosc-card-shadow { padding: 0 15px; }
                            
                            .cos-divider { height: 0px; }
                            .cos-space-mt-sm { margin-top: 0; }
                            // [class*="card-header_"] { margin-bottom: 0; }
                            [class*="pc-title_"] { margin-bottom: .2em; }
                            
                        }
                        &[tpl="fy_sg_dictwisenew_san"] {
                        
                            h3.cosc-title, h3.cosc-title[class*="pc-title_"] {
                                margin-bottom: -5px;
                                background: transparent;
                            }
                            
                        }
                        
                    // $ ==================== ↓ 百度翻译
                    
                        &[tpl="bk_polysemy"] {
                        
                            .c-span9 { width: calc(100% - 150px - 20px); }
                            .c-span12 { width: 100%; }
                            
                        }
                        &[tpl="yl_ps_main"] {
                        
                            [class*="matting-container_"] { width: 3rem; }
                            
                        }
                        
                    // $ ==================== ↓ 百度百科
                    
                        &[tpl="sg_kg_entity_san"] {
                            
                            .cu-line-clamp-default {
                                color: var(--ovnBaiduC);
                                font-size: 15px;
                                font-weight: bold;
                                line-height: 1.5;
                            }
                            
                            .c-span9 { width: 85%; }
                            [class*="button_"] [class*="content_"] { 
                                color: var(--ovnBaiduC);
                            }
                            
                            // ========== 演员列表
                            .cos-swiper-list { justify-content: space-around; }
                            
                        }
                        
                    // $ ==================== ↓ 百度文库
                    
                        &[tpl="jy_wenku_wenshu"] {
                        
                            [class*="title-wrapper_"] [class*="front-icon_"] { z-index: 1; font-size: 15px; }
                            
                            // ========== 修复标题
                            [class*="doc-title_"] { background: transparent; }
                            
                            // ========== 小标题
                            [class*="_paragraph_"].sm { font-size: 14px; }
                            
                        }
                        &[tpl="www_index"][mu*="https://wenku.baidu.com/"] {
                        
                            // ========== ICON
                            
                                [class*="title-box_"]:has([class*="front-icon_"]) .t { padding-left: 50px; }
                                [class*="title-wrapper_"] [class*="front-icon_"] {
                                    position: absolute;
                                    transform: scale(.5);
                                    left: -18px;
                                }
                                
                        }
                        
                    // $ ==================== ↓ 百度汉语
                    
                        &[tpl="jy_hy_zi_broad_san"],
                        &[tpl="jy_hy_zi_attr_san"],
                        &[tpl="jy_hy_zi_accu_san"] {
                            
                            h3.t { background: transparent; }
                            
                            // ========== 修复标题背景
                            
                                [class*="bg-header_"], [class*="bg-header_"][class*="_bg-header_"] {
                                    width: 102%;
                                    top: -6px;
                                    left: -15px;
                                }
                                [class*="bg-header_"][class*="_bg-header_"] {
                                    width: 99.26%;
                                    top: -15px;
                                    left: 615px;
                                }
                                [class*="bg-header_"] [class*="radial-gradient-right_"] {
                                    opacity: .6;
                                    left: 40%;
                                    width: 60%;
                                }
                            
                        }
                        
                    // $ ==================== ↓ 百度图片
                    
                        &[tpl="image_grid_san"] {
                        
                            h3.cosc-title { margin: 0px -20px; background: transparent; }
                            h3.cosc-title > a.ovnFocal.ovnLR { display: inline-block; }
                            [class*="image-container_"][class*="image-container-pc_"] { display: flex; gap: 40px; }
                            [class*="image-container_"] [class*="row-border-list_"] { gap: 20px; }
                            .cos-image-background { border-radius: var(--ovnBaiduRM); }
                            
                            [class*="cos-image-item_"] [class*="image-common_"] {
                                border-radius: var(--ovnBaiduRM);
                            }
                            
                            // ========== 修复标题背景
                            [class*="container_"] [class*="head_"] {
                                overflow: visible;
                                margin-right: 0;
                            }
                            // ========== 去除多余下划线
                            [class*="head_"].ovnFocal::after { display: none; }
                            
                        }
                        
                    // $ ==================== ↓ 百度贴吧
                    
                        &[tpl="tieba_general"] {
                        
                            .cos-space-mt-md { width: 96%; }
                            
                        }
                        
                    // $ ==================== ↓ 百度学术
                    
                        &[tpl="xueshu_links_new"] {
                        
                            .c-tabs-nav { background: transparent; }
                            .c-tabs-nav .c-tabs-nav-li { margin: 0; }
                            .c-tabs-nav .c-tabs-nav-selected { background: #F5F5F6; }
                            .op-xueshu-links-new-d20-source { margin-top: 20px; }
                            
                        }
                        
                    // $ ==================== ↓ 百度天气
                    
                        &[tpl="weather_forecast_san"] {
                        
                            --ovnX: 10px;
                            
                            [class*="content-border_"] { box-shadow: none; }
                            
                            // ========== 按钮 左右翻页
                            
                                [class*="load_"][class*="back_"] { left: var(--ovnX); }
                                [class*="load_"][class*="more_"] { right: var(--ovnX); }
                                
                        }
                        
                    // $ ==================== ↓ 百度有驾
                    
                        &[tpl="car_kg2_san"] {
                        
                            --ovnX: 10px;
                            
                        }
                        
                    // $ ==================== ↓ 百度健康
                    
                        &[tpl="med_aigc_guru_san"] {
                        
                            [class*="medAigcPcCard_"] { margin-top: 10px; }
                            
                        }
                        
                        &[tpl="med_doctor_same_name_san"] {
                            
                            // ========== 修复标题背景
                            .cosc-card-content > div > .cos-line-clamp-1 {
                                overflow: visible;
                                margin-top: -18px;
                            }
                            
                            [class*="afterFiveWrap_"] > [class*="doctorItem_"] { margin-top: 20px; }
                            .cos-more-link { margin: 15px 0; }
                            
                        }
                        
                    // $ ==================== ↓ 品牌项目信息
                    
                        &[tpl="vmp_newproject_new"] {
                            
                            .c-span9 { width: 40vw; }
                            
                        }
                        
                    // $ ==================== ↓ 人物简介
                    
                        &[tpl="yl_ps_main"] {
                        
                            [class*="aladdin_"] { margin-top: -5px; }
                            [class*="_content-border_"] { padding: 0 15px; }
                            
                        }
                        
                    // $ ==================== ↓ 音乐
                    
                        &[tpl="yl_music_song"] {
                        
                            --ovnX: 1260px;
                            
                            [class*="table-container_"] [class*="table-thead_"] [class*="th-num_"],
                            [class*="table-container_"] [class*="table-tbody_"] [class*="td-num_"] {
                                width: var(--ovnX);
                            }
                            
                        }
                        
                    // $ ==================== ↓ 游戏
                    
                        &[tpl="game-page-pandemand"] {
                        
                            .content[class*="content-info_"] {
                                display: grid;
                                justify-items: center;
                            }
                            .content[class*="content-info_"] > [class*="tab-wrapper_"] {
                                grid-column: 1 / 3;
                                text-align: center;
                            }
                            .content[class*="content-info_"] > .c-row.c-gap-top-large:last-of-type { display: none; }
                            .c-row.c-gap-top-large > .c-span2 { margin-right: 35px; }
                            
                        }
                        
                    // $ ==================== ↓ 聚合搜索
                    
                        &[tpl="rel-baike"] {
                        
                            [class*="rel-baike_"] [class*="lemma-item_"] { margin: 0; }
                            [class*="rel-baike_"] [class*="default-baike_"][class*="scroll-bar_"] {
                                display: flex;
                                margin: 15px 0 5px 0;
                            }
                            
                        }
                        
                    // $ ==================== ↓ AI 工具箱
                    
                        &[tpl="ai_ecology"] {
                        
                            --ovnX: 12%;
                            
                            .cos-row-col-12 > .cos-col-3 { width: var(--ovnX); }
                            [class*="card-footer-normal"] { left: calc(var(--ovnX) - 15px/4); }
                            
                        }
                        
                    // $ ==================== ↓ 作品成就    
                    
                        &[tpl="yl_rw_figure_sample_san"] {
                        
                            [class*="movie_"][class*="single_"] [class*="cosc-image-with-tags_"] { width: 10%; }
                            [class*="list_"] [class*="movie-item_"], [class*="list_"] [class*="music-item_"] {
                                width: calc(10% - var(--space-between)) !important;
                            }
                            
                        }
                        
                    // $ ==================== ↓ 全网热卖
                    
                        &[tpl="sp_purc_pc"] {
                        
                            h3 { margin: -22px -20px 10px -20px; } 
                            [class*="content-wrap_"] > div[style*="display: block"] {
                                display: flex !important;
                                justify-content: space-evenly;
                            }
                            [class*="row_"] { margin: 0; }
                            [class*="sp_purc_pc-sku-item_"] { margin: 15px 40px 15px 0; }
                            
                        }
                        
                    // $ ==================== ↓ 在线观看
                    
                        &[tpl="rel_base_realtime"] {
                        
                            img { border-radius: var(--ovnBaiduRS); }
                            .cos-image-3-2 { padding-bottom: 25%; mask-image: linear-gradient(to bottom, #000 95%, transparent 100%); }
                            .cos-image-fit-cover .cos-image-background { background-size: contain; }
                            
                            .cos-row.cos-gutter:not(:has(.cos-col-3)) { margin-left: calc(var(--cos-grid-gutter) * -.5 + 25%); }
                            .cos-space-mt-md:not(:has(.cos-col-3)) .cos-row.cos-gutter { margin-left: 0; }
                            
                        }
                        
                        &[tpl="yl-vd-basis"] {
                        
                            .c-span9 { width: max-content; }
                            
                        }
                        &[tpl="rel_base_realtime"] {
                        
                            img { border-radius: var(--ovnBaiduRS); }
                            .cos-image-3-2 { padding-bottom: 25%; mask-image: linear-gradient(to bottom, #000 95%, transparent 100%); }
                            .cos-image-fit-cover .cos-image-background { background-size: contain; }
                            
                            .cos-row.cos-gutter:not(:has(.cos-col-3)) { margin-left: calc(var(--cos-grid-gutter) * -.5 + 25%); }
                            .cos-space-mt-md:not(:has(.cos-col-3)) .cos-row.cos-gutter { margin-left: 0; }
                            
                        }
                        
                    // $ ==================== ↓ 高清在线观看
                    
                        &[tpl="short_video"] {
                        
                            [class*="content_"] > div { display: flex; gap: 20px; }
                            [class*="content_"] .c-row { display: flex; gap: 20px; }
                            .c-gap-top-large, .c-span4 { margin: 0; }
                            
                        }
                        
                    // $ ==================== ↓ 聊一下更多精彩
                    
                        &[tpl="ai_agent_distribute"] {
                        
                            .card-title_6qPL6 { width: 100%; }
                            [class*="content_"] [class*="common-content_"] { width: 95%; }
                            
                        }
                        
                    // $ ==================== ↓ 实时智能回复
                    
                        &[tpl="ai_agent_qa_recommend"] {
                            
                            // ========== 标题
                            
                                .cos-space-mt-lg { margin-top: 0; }
                                [class*="agent-qa-card_"] [class*="card-title_"] { margin: 10px 0; }
                                
                        }
                        
                    // $ ==================== ↓ 最新信息
                    
                        &[tpl="news-realtime"] {
                        
                            [class*="single-card-wrapper_"] {
                                display: flex;
                                justify-content: flex-start;
                                border-radius: var(--ovnBaiduRL);
                                box-shadow: none;
                            }
                            [class*="single-card-wrapper_"] > .c-row { display: flex; }
                            [class*="single-card-wrapper_"] > .c-row:last-of-type { display: none; }
                            
                        }
                        
                    // $ ==================== ↓ 最新信息
                    
                        &[tpl="jr_quote"] {
                            
                            padding-top: var(--ovnBaiduTR);
                            
                        }
                        
                    // $ ==================== ↓ XXXXX
                    
                        &[tpl="www_struct"], &[tpl="www_text"] {
                            
                            // ========== 标题间隙
                            [class*="title-box-full_"] { margin-top: -10px; }
                            
                            h3 { margin-top: 0 !important; }
                            
                        }
                        
                    // $ ==================== ↓ 相关搜索
                    
                        &[tpl="recommend_list"] {
                        
                            [class*="pc-rg-upgrade_"] [class*="item_"] {
                                margin: 5px !important;
                                color: var(--ovnBaiduC);
                            }
                            
                        }
                        &[tpl="app/rs"] {
                        
                            padding: var(--ovnBaiduP) !important;
                            margin: var(--ovnBaiduM) !important;
                            
                            #rs_new { margin: 0; width: 100%; }
                            #rs_new table { margin: 20px auto; }
                            #rs_new table tr { display: flex; gap: 40px; }
                            #rs_new table tr [class*="rs-link_"] { color: var(--ovnBaiduBC);}
                            
                        }
                        
                    // $ ==================== ↓ 最新相关信息
                    
                        &[mu*="https://wenku.baidu.com/"] {
                        
                            ._image_14uts_1 {
                                background-size: contain !important;
                                padding-bottom: 25% !important;
                            }
                            
                        }
                        
                }
                
        }
        
        
    // $ ================================================== ↓ Bottom
    
        :where(#page) {
            
            margin-top: 40px;
            width: 100%;
            background: transparent !important; // 覆盖内联
            
        }
        
        #page {
            
            &.page-sample {
                padding: 40px 0;
                margin: 0;
            }
            
            a:hover, a:hover .pc, .n:hover, a { color: var(--ovnBaiduC); }
            a:hover, a:hover .pc, .n:hover {
                background: transparent;
                box-shadow: var(--ovnBaiduSS) hsla(var(--ovnAccentHSL), .2);
            }
            
            // ========== 翻页
            [class*="page-inner_"] {
                padding: 0 !important;         // 覆盖官方
                margin: 10px auto !important;  // 覆盖官方
                width: max-content !important; // 覆盖官方
            }
            
        }
        
}

// $ ================================================== ↓ Unknown

