

html {
    
    &:root body {
        
        --ovnBiliCount: 15;
        --ovnBiliItemH: 35px;
        --ovnBiliBase: hsla(var(--ovnAccentHSL-H), 10%, 20%, 1);  // 播放器 底色
        --ovnBiliShadow: var(--ovnGlassShadow);
        --ovnBiliBlur: var(--ovnPanelFilter);
        
        --ovnBiliRS: var(--ovnBaseRadius);
        --ovnBiliRU: var(--ovnUIRadius);
        --ovnBiliRM: var(--ovnPanelRadius);
        --ovnBiliRL: var(--ovnSurfaceRadius);
        --ovnBiliRX: var(--ovnRadiusX);
        
    }
    
    // $ ================================================== ↓ OVN
    
        .Bilibili_BatchLoad {
            position: fixed;
            top: 10%;
            right: 2%;
            background: transparent;
            &:hover { transform: none; }
        }
        
        
    // $ ================================================== ↓ Global
    
        .header-channel,                                                   // ==== Head 首页
        .bili-header .mini-header,                                         // ==== Head 播放页
        .search-input-container .search-fixed-header.search-fixed-header { // ==== Head 首页 fixed
            box-shadow: var(--ovnBiliShadow);
        }
        
        
    // $ ================================================== ↓ 播放页
    
        :where(#mirror-vdcon) {
        
            // $ ==================== ↓ 播放器
            
                // .bpx-player-container[data-screen="normal"],
                // .bpx-player-container[data-screen="wide"]           // 宽屏
                // .bpx-player-control-entity[data-shadow-show="true"] // 隐藏黑边时
                
                #playerWrap:not(:has(.bpx-player-container:is(
                    [data-screen="web"],  // 网页全屏
                    [data-screen="full"], // 全屏
                    [data-screen="mini"]  // 迷你播放器
                ))) {
                    border-radius: var(--ovnBiliRU);
                    .bpx-player-video-area {
                        border-radius: var(--ovnBiliRM);
                        box-shadow: 0 20px 20px hsla(var(--ovnAccentHSL), .2);
                    }
                }
                .bpx-player-video-wrap video {
                    background:
                        radial-gradient(
                            circle at 50% 50%,
                            hsla(0, 0%, 0%, .5) 000%,
                            hsla(0, 0%, 0%, .5) 050%,
                            hsla(0, 0%, 0%, .2) 100%
                        ),
                        linear-gradient( 
                            to bottom,
                            var(--ovnBiliBase) 000%,
                            hsla(0, 0%, 0%, 1) 050%,
                            var(--ovnBiliBase) 100%
                        );
                }
                .bpx-player-video-perch, .bpx-player-video-wrap, .bpx-docker-major,
                .bpx-player-container, .bpx-player-primary-area, .bpx-player-video-area {
                    background: var(--bpx-dmsend-main-bg, #FFF);
                }
                
                // #bilibili-player-placeholder-top {
                //     background: var(--bpx-dmsend-main-bg, #FFF);
                // }
                
                // ==================== ↓ 同步修正
                
                    // ========== 原容器阴影
                    #bilibili-player-placeholder, .bpx-player-container { box-shadow: none; }
                    // ========== 播放器底部 交互控件容器
                    .video-toolbar-container, .bpx-player-sending-bar, .bpx-player-sending-area:before {
                        background: transparent;
                    }
                    
                    // ========== 播放器 角落黑边
                    .bpx-player-container[data-screen="normal"] .bpx-player-video-wrap  video {
                        // box-shadow: inset 0 0 0 1px var(--bpx-dmsend-main-bg);
                        border-radius: var(--ovnBiliRM);
                    }
                    
                // ========== 进度条 章节
                .bpx-player-progress-schedule.bpx-player-progress-schedule-segment { border-radius: var(--ovnBiliRX); }
                
                // ========== 弹幕输入
                .bpx-player-sending-bar .bpx-player-video-inputbar { backdrop-filter: var(--ovnBiliBlur); }
                
                // ========== 选集 > 当前播放 icon
                .bpx-player-ctrl-eplist-menu-wrap { width: max-content; }
                .bpx-player-ctrl-eplist-multi-menu-item .bpx-common-svg-icon { order: 1; }
                
            // $ ==================== ↓ 播放列表
            
                .simple-base-item .title { font-size: 14px; justify-content: space-between; }
                .simple-base-item .title .title-txt { order: 1; }
                .simple-base-item .title .playing-gif { order: 2; margin: 0 4px; }
                .simple-base-item.normal.active { border-radius: var(--ovnBiliRS); }
                
                // ========== 默认小按钮
                .video-pod .video-pod__header .header-bottom .right .subscribe-btn.subscribe-btn {
                    border-radius: var(--ovnBiliRS);
                }
                // ========== 播放列表
                .video-pod .video-pod__body.video-pod__body {
                    max-height: calc(var(--ovnBiliItemH) * var(--ovnBiliCount));
                }
                
                
            // ========== 迷你播放器
            .bpx-player-container[data-screen="mini"] { border-radius: var(--ovnBiliRU); }
            
            // ========== 视频下方 边框线条
            .left-container :is(.video-toolbar-container, .video-tag-container) { border-color: #00000010; }
            
        }
        
}

// $ ================================================== ↓ Unknown

