

html {
    
    &:root body {
        
        --ovnDSCA: var(--ovnAccentHEX);
        --ovnDSCS: var(--ovnSecondaryHEX);
        --ovnDSCP: var(--ovnPrimaryHEX);
        --ovnDSBG: var(--ovnBase09HEX);
        
        --ovnDSRS: var(--ovnBaseRadius);
        --ovnDSRU: var(--ovnUIRadius);
        --ovnDSRM: var(--ovnPanelRadius);
        --ovnDSRL: var(--ovnSurfaceRadius);
        --ovnDSRX: var(--ovnRadiusX);
        
        --ovnDSX: var(--ovnSpaceWidth02);
        
        @media (width <= 1260px) { --ovnDSV: calc(var(--ovnDSX) + 40vw) }
        @media (width >= 1260px) { --ovnDSV: calc(var(--ovnDSX) + 20vw) }
        @media (width >= 1920px) { --ovnDSV: calc(var(--ovnDSX) + 05vw) }
        
    }
    
    &.ovn body {
        
        --dsw-alias-border-l2-darkmode-thin: #0000000D;
        --message-list-max-width: var(--ovnDSV);
        
        &[data-ds-dark-theme] {
            --dsw-static-neutral-bluish-1000: #3C3C3D;
        }
        
    }
    
    // $ ================================================== ↓ Global
    
        // .fbb737a4 { min-width: 35%; }
        
        // ==================== ↓ 形
        
            .e37a04e4, // ==== 会话标题
            ._090c426, // ==== 新对话 按钮
            .fbb737a4, // ==== 聊天信息框
            ._546d736, // ==== 右侧列表 对话
            ._5a8ac7a, // ==== 右侧列表 新对话
            .ds-button,
            .ds-toggle-button {
                border-radius: var(--ovnDSRM);
            }
            
            
        // $ ==================== ↓ 输入框
        
            ._77cefa5 ._27c9245,   // ==== 首页
            ._77cefa5 .b13855df {  // ==== 聊天页
                min-height: 92px;
            }
            
        // ========== 代码块
        .md-code-block > pre { font-size: 12px; }
        
        
    // $ ================================================== ↓ 首页
    
        // ========== 快速/专家 模式
        .c15ec89f, .b0db7355, ._9f2341b { border-radius: var(--ovnDSRM); }
        
        // ========== 输入框
        ._9a2f8e4 { max-width: var(--ovnDSV); }
        
        
    // $ ================================================== ↓ 聊天页
    
        // ========== 返回底部
        .ds-button.ds-button--floating {
            right: 50%;
            transform: translateX(calc(-50% + 35px));
        }
        
        // ========== 修复 思考过程 文字样式错误
            .katex .base { display: contents; }
            .cjk_fallback { font: var(--ovnOftenFontBase); }
            
            
    // $ ================================================== ↓ XXXXX
        
        :where(#XXXXX) {
            
            --vbDeepSeekXXX: hsla(var(--ovnPrimaryHSL), .5);
            
        }
        
}

// $ ================================================== ↓ Unknown

