

.ovnThemeDark {
    
    --ovnAccentHEX: #4C525E;
    --ovnAccentHSL: 220, 011%, 033%;
    --ovnAccentHSL-H: 220;
    --ovnAccentHSL-S: 11%;
    --ovnAccentHSL-L: 33%;
    --ovnAccentAltXXX: var(--ovnAccentHSL-H), calc(var(--ovnAccentHSL-S) - 000%), calc(var(--ovnAccentHSL-L) - 000%);
    --ovnAccentPickXX: var(--ovnAccentHSL-H), calc(var(--ovnAccentHSL-S) - 002%), calc(var(--ovnAccentHSL-L) - 010%);
    --ovnAccentBorder: var(--ovnAccentHSL-H), calc(var(--ovnAccentHSL-S) - 000%), calc(var(--ovnAccentHSL-L) + 020%);
    --ovnAccentShadow: var(--ovnAccentHSL-H), calc(var(--ovnAccentHSL-S) - 000%), calc(var(--ovnAccentHSL-L) - 000%);
    --ovnSecondaryHEX: #2D3139;
    --ovnSecondaryHSL: 220, 012%, 020%;
    --ovnSecondaryHSL-H: 220;
    --ovnSecondaryHSL-S: 12%;
    --ovnSecondaryHSL-L: 20%;
    --ovnSecondaryAltXXX: var(--ovnSecondaryHSL-H), calc(var(--ovnSecondaryHSL-S) - 000%), calc(var(--ovnSecondaryHSL-L) - 000%);
    --ovnSecondaryPickXX: var(--ovnSecondaryHSL-H), calc(var(--ovnSecondaryHSL-S) - 000%), calc(var(--ovnSecondaryHSL-L) - 010%);
    --ovnSecondaryBorder: var(--ovnSecondaryHSL-H), calc(var(--ovnSecondaryHSL-S) - 000%), calc(var(--ovnSecondaryHSL-L) + 020%);
    --ovnSecondaryShadow: var(--ovnSecondaryHSL-H), calc(var(--ovnSecondaryHSL-S) - 000%), calc(var(--ovnSecondaryHSL-L) - 000%);
    --ovnPrimaryHEX: #1D1E20;
    --ovnPrimaryHSL: 220, 005%, 012%;
    --ovnPrimaryHSL-H: 220;
    --ovnPrimaryHSL-S: 05%;
    --ovnPrimaryHSL-L: 12%;
    --ovnPrimaryAltXXX: var(--ovnPrimaryHSL-H), calc(var(--ovnPrimaryHSL-S) - 000%), calc(var(--ovnPrimaryHSL-L) - 000%);
    --ovnPrimaryPickXX: var(--ovnPrimaryHSL-H), calc(var(--ovnPrimaryHSL-S) - 000%), calc(var(--ovnPrimaryHSL-L) - 010%);
    --ovnPrimaryBorder: var(--ovnPrimaryHSL-H), calc(var(--ovnPrimaryHSL-S) - 000%), calc(var(--ovnPrimaryHSL-L) + 020%);
    --ovnPrimaryShadow: var(--ovnPrimaryHSL-H), calc(var(--ovnPrimaryHSL-S) - 000%), calc(var(--ovnPrimaryHSL-L) - 010%);
    
    --ovnGrid-S: hsla(0, 0%, 50%, 0.07);
    --ovnGrid-L: hsla(0, 0%, 50%, 0.09);
    --ovnGrid-D: hsla(0, 0%, 50%, 0.09);
    
    --ovnGlassBase: hsla(0, 0%, 98%, .6);
    --ovnGlassClean: hsla(0, 0%, 98%, .8);
    
}

.ovnThemeLight {

    --ovnAccentHEX: #75839F;
    --ovnAccentHSL: 220, 018%, 054%;
    --ovnAccentHSL-H: 220;
    --ovnAccentHSL-S: 18%;
    --ovnAccentHSL-L: 54%;
    --ovnAccentAltXXX: var(--ovnAccentHSL-H), calc(var(--ovnAccentHSL-S) - 000%), calc(var(--ovnAccentHSL-L) - 000%);
    --ovnAccentPickXX: var(--ovnAccentHSL-H), calc(var(--ovnAccentHSL-S) - 002%), calc(var(--ovnAccentHSL-L) - 010%);
    --ovnAccentBorder: var(--ovnAccentHSL-H), calc(var(--ovnAccentHSL-S) - 000%), calc(var(--ovnAccentHSL-L) + 020%);
    --ovnAccentShadow: var(--ovnAccentHSL-H), calc(var(--ovnAccentHSL-S) - 000%), calc(var(--ovnAccentHSL-L) - 000%);
    --ovnSecondaryHEX: #454A54;
    --ovnSecondaryHSL: 220, 010%, 030%;
    --ovnSecondaryHSL-H: 220;
    --ovnSecondaryHSL-S: 10%;
    --ovnSecondaryHSL-L: 30%;
    --ovnSecondaryAltXXX: var(--ovnSecondaryHSL-H), calc(var(--ovnSecondaryHSL-S) - 000%), calc(var(--ovnSecondaryHSL-L) - 000%);
    --ovnSecondaryPickXX: var(--ovnSecondaryHSL-H), calc(var(--ovnSecondaryHSL-S) - 000%), calc(var(--ovnSecondaryHSL-L) - 010%);
    --ovnSecondaryBorder: var(--ovnSecondaryHSL-H), calc(var(--ovnSecondaryHSL-S) - 000%), calc(var(--ovnSecondaryHSL-L) + 020%);
    --ovnSecondaryShadow: var(--ovnSecondaryHSL-H), calc(var(--ovnSecondaryHSL-S) - 000%), calc(var(--ovnSecondaryHSL-L) - 000%);
    --ovnPrimaryHEX: #2C2F35;
    --ovnPrimaryHSL: 220, 009%, 019%;
    --ovnPrimaryHSL-H: 220;
    --ovnPrimaryHSL-S: 09%;
    --ovnPrimaryHSL-L: 19%;
    --ovnPrimaryAltXXX: var(--ovnPrimaryHSL-H), calc(var(--ovnPrimaryHSL-S) - 000%), calc(var(--ovnPrimaryHSL-L) - 000%);
    --ovnPrimaryPickXX: var(--ovnPrimaryHSL-H), calc(var(--ovnPrimaryHSL-S) - 000%), calc(var(--ovnPrimaryHSL-L) - 010%);
    --ovnPrimaryBorder: var(--ovnPrimaryHSL-H), calc(var(--ovnPrimaryHSL-S) - 000%), calc(var(--ovnPrimaryHSL-L) + 020%);
    --ovnPrimaryShadow: var(--ovnPrimaryHSL-H), calc(var(--ovnPrimaryHSL-S) - 000%), calc(var(--ovnPrimaryHSL-L) - 010%);
    
    --ovnGrid-S: hsla(0, 0%, 50%, 0.05);
    --ovnGrid-L: hsla(0, 0%, 50%, 0.07);
    --ovnGrid-D: hsla(0, 0%, 50%, 0.07);
    
    --ovnGlassBase: hsla(0, 0%, 98%, .6);
    --ovnGlassClean: hsla(0, 0%, 98%, .8);
    
}

:root, [ovnGlobalColor] {

    --ovnBase09HEX: #F9F9F9;
    --ovnBase08HEX: #F4F4F4;
    --ovnBase07HEX: #BEC2CA;
    --ovnBase06HEX: #ABB0BA;
    --ovnBase05HEX: #757C8A;
    --ovnBase04HEX: #454A54;
    --ovnBase03HEX: #353941;
    --ovnBase02HEX: #2C2F35;
    --ovnBase01HEX: #1F2228;
    --ovnBase00HEX: #1C1E22;
    
    --ovnBase00HSL: var(--ovnBase00HSL-H), var(--ovnBase00HSL-S), var(--ovnBase00HSL-L);
    --ovnBase01HSL: var(--ovnBase00HSL-H), var(--ovnBase01HSL-S), var(--ovnBase01HSL-L);
    --ovnBase02HSL: var(--ovnBase00HSL-H), var(--ovnBase02HSL-S), var(--ovnBase02HSL-L);
    --ovnBase03HSL: var(--ovnBase00HSL-H), var(--ovnBase03HSL-S), var(--ovnBase03HSL-L);
    --ovnBase04HSL: var(--ovnBase00HSL-H), var(--ovnBase04HSL-S), var(--ovnBase04HSL-L);
    --ovnBase05HSL: var(--ovnBase00HSL-H), var(--ovnBase05HSL-S), var(--ovnBase05HSL-L);
    --ovnBase06HSL: var(--ovnBase00HSL-H), var(--ovnBase06HSL-S), var(--ovnBase06HSL-L);
    --ovnBase07HSL: var(--ovnBase00HSL-H), var(--ovnBase07HSL-S), var(--ovnBase07HSL-L);
    --ovnBase08HSL: var(--ovnBase00HSL-H), var(--ovnBase08HSL-S), var(--ovnBase08HSL-L);
    --ovnBase09HSL: var(--ovnBase00HSL-H), var(--ovnBase09HSL-S), var(--ovnBase09HSL-L);
    
    --ovnBase00HSL-H: 220;
    --ovnBase00HSL-S: 10%;    --ovnBase00HSL-L: 12%;
    --ovnBase01HSL-S: 13%;    --ovnBase01HSL-L: 34%;
    --ovnBase02HSL-S: 09%;    --ovnBase02HSL-L: 19%;
    --ovnBase03HSL-S: 10%;    --ovnBase03HSL-L: 23%;
    --ovnBase04HSL-S: 10%;    --ovnBase04HSL-L: 30%;
    --ovnBase05HSL-S: 08%;    --ovnBase05HSL-L: 50%;
    --ovnBase06HSL-S: 10%;    --ovnBase06HSL-L: 70%;
    --ovnBase07HSL-S: 10%;    --ovnBase07HSL-L: 77%;
    --ovnBase08HSL-S: 00%;    --ovnBase08HSL-L: 96%;
    --ovnBase09HSL-S: 00%;    --ovnBase09HSL-L: 98%;
    
    --ovnBase02AltXXX: var(--ovnBase00HSL-H), calc(var(--ovnBase02HSL-S) - 000%), calc(var(--ovnBase02HSL-L) - 000%);
    --ovnBase02PickXX: var(--ovnBase00HSL-H), calc(var(--ovnBase02HSL-S) - 000%), calc(var(--ovnBase02HSL-L) - 000%);
    --ovnBase02Border: var(--ovnBase00HSL-H), calc(var(--ovnBase02HSL-S) - 000%), calc(var(--ovnBase02HSL-L) + 020%);
    --ovnBase02Shadow: var(--ovnBase00HSL-H), calc(var(--ovnBase04HSL-S) - 000%), calc(var(--ovnBase04HSL-L) - 000%);
    --ovnBase04AltXXX: var(--ovnBase00HSL-H), calc(var(--ovnBase04HSL-S) - 000%), calc(var(--ovnBase04HSL-L) - 000%);
    --ovnBase04PickXX: var(--ovnBase00HSL-H), calc(var(--ovnBase04HSL-S) - 000%), calc(var(--ovnBase04HSL-L) - 010%);
    --ovnBase04Border: var(--ovnBase00HSL-H), calc(var(--ovnBase04HSL-S) - 000%), calc(var(--ovnBase04HSL-L) + 020%);
    --ovnBase04Shadow: var(--ovnBase00HSL-H), calc(var(--ovnBase04HSL-S) - 000%), calc(var(--ovnBase04HSL-L) - 000%);
    
    --ovnGlow09HEX: #85E0D7;
    --ovnGlow02HEX: #9087F8;
    --ovnGlow06HEX: #CEF4FD;
    --ovnGlow00HEX: #D9B9F9;
    --ovnGlow08HEX: #BCF5F4;
    --ovnGlow07HEX: #F7F0B7;
    --ovnGlow05HEX: #79ECD9;
    --ovnGlow04HEX: #13EC99;
    --ovnGlow03HEX: #25F493;
    --ovnGlow01HEX: #708BC2;
    --ovnGlow09HSL: 174, 059%, 070%;
    --ovnGlow02HSL: 245, 089%, 075%;
    --ovnGlow06HSL: 191, 092%, 090%;
    --ovnGlow00HSL: 270, 084%, 085%;
    --ovnGlow08HSL: 179, 074%, 085%;
    --ovnGlow07HSL: 053, 080%, 084%;
    --ovnGlow05HSL: 170, 075%, 070%;
    --ovnGlow04HSL: 157, 085%, 050%;
    --ovnGlow03HSL: 152, 090%, 055%;
    --ovnGlow01HSL: 220, 040%, 060%;
    
    --ovnMarkdownH1: #494F4D;
    --ovnMarkdownH2: #515463;
    --ovnMarkdownH3: #40465D;
    --ovnMarkdownH4: #4D5B66;
    --ovnMarkdownH5: #4F5E68;
    --ovnMarkdownH6: #5B7481;
    
    --ovnRed00000: #E93F3F;
    --ovnOrange00: #F55F3A;
    --ovnYellow00: var(--ovnGlow07HEX);
    --ovnGreen000: #11D080;
    --ovnCyan0000: #00B3B3;
    --ovnBlue0000: #478BE5;
    --ovnPurple00: var(--ovnGlow02HEX);
    
    --ovnRed00001: #000;
    --ovnOrange01: #FF5242;
    --ovnYellow01: #000;
    --ovnGreen001: #29F9A9;
    --ovnCyan0001: #000;
    --ovnBlue0001: #2BC2FF;
    --ovnPurple01: #000;
    
    --ovnRed00002: #EF4444;
    --ovnOrange02: #EE5C2A;
    --ovnYellow02: #000;
    --ovnGreen002: #10B981;
    --ovnCyan0002: #000;
    --ovnBlue0002: #2BC2FF;
    --ovnPurple02: #000;
    
    --ovnStateCorrectHEX: #25F49D;
    --ovnStateCorrectHSL: 155, 090%, 055%;
    --ovnStateWarnHEX: #FF7424;
    --ovnStateWarnHSL: 022, 100%, 057%;
    --ovnStateErrorHEX: #FC5E4F;
    --ovnStateErrorHSL: 005, 097%, 065%;
    --ovnLink: var(--ovnBlue0000);
    --ovnStateVisited: var(--ovnCyan0000);
    --ovnStateMatch: var(--ovnOrange01);
    
    --ovnBackdrop: ;
    --ovnForeground: ;
    --ovnBackground: ;
    --ovnGlassDark: hsla(var(--ovnPrimaryHSL), .526);
    --ovnGlassLight: hsla(var(--ovnBase09HSL), .526);
    
    --ovnBaidu: #4E6EF2;
    --ovnGoogleBlue: #4285F4;
    --ovnGoogleRad: #ea4335;
    --ovnGoogleYellow: #FBBC05;
    --ovnGoogleGreen: #34a853;
    --ovnBing: #174AE4;
    --ovnYoutubeRad: #FD0234;
    --ovn115: #2777F8;
    --ovnIQIYI: #00F48E;
    --ovnBiliPink: #FB7299;
    --ovnBiliBlue: #00AEEC;
    
}

