

html {
    
    &:root body {
        
        --ovnChatCA: var(--ovnAccentHEX);
        --ovnChatCS: var(--ovnSecondaryHEX);
        --ovnChatCP: var(--ovnPrimaryHEX);
        --ovnChatBG: var(--ovnBase09HEX);
        
        --ovnChatRB: var(--ovnRB);
        --ovnChatRU: var(--ovnRU);
        --ovnChatRP: var(--ovnRP);
        --ovnChatRS: var(--ovnRS);
        --ovnChatRL: var(--ovnRL);
        --ovnChatRX: var(--ovnRX);
        
        --ovnChatX: var(--ovnSpaceWidth02);
        
        @media (width >= 1080px) { --ovnChatV: calc(var(--ovnChatX) + 20vw) }
        @media (width >= 1600px) { --ovnChatV: calc(var(--ovnChatX) + 15vw) }
        @media (width >= 1920px) { --ovnChatV: calc(var(--ovnChatX) + 02vw) }
        
    }
    
    &.ovn body {
        .\@w-lg\/main\:\[--thread-content-max-width\:48rem\] {
            --thread-content-max-width: var(--ovnChatV);
        }
    }
    
    // $ ================================================== ↓ Global
    
        // ========== 问答种类
        .sm\:rounded-\[100px\] {
            border-radius: var(--ovnChatRP);
        }
        
        // ========== 项目设置 弹窗及指令框
        .max-w-lg[id^="radix-_r_"] { max-width: calc(9vw + 26vw); }
        #instructions { min-height: 12vh; height: 26vh; }
        
        .shadow-xs, .shadow-xxs, .shadow-short-composer {
            --tw-shadow:
                0px 0px 00px 1px var(--tw-shadow-color, var(--shadow-color-2, #0000000F)),
                0px 5px 10px 0px var(--tw-shadow-color, var(--shadow-color-1, #00000009));
            border: none;
        }
        
        // $ ==================== ↓ 聊天框
        
            form[data-type="unified-composer"] {
                
                .shadow-short {
                    --tw-shadow:
                        0px 0px 00px 1px var(--tw-shadow-color, var(--shadow-color-2, #0000000D)),
                        0px 5px 10px 0px var(--tw-shadow-color, var(--shadow-color-1, #00000012));
                }
                
                .min-h-14 { min-height: calc(var(--spacing) * 14 + 40px); }
                
                p.placeholder { opacity: .4; }
                
                [class*="[grid-area:leading]"] { display: flex; align-items: center; }
                
            }
            
        // &.ovn [class*="rounded-[18px]"] { border-radius: 14px; }
        // [dir=ltr] code[class*=language-] { font-weight: 500; }
        
            
    // $ ================================================== ↓ 首页
    
    
}

// $ ================================================== ↓ Unknown

