

@use "sass:map";
@use "sass:meta";


$map: (
    "x":     920px,
    "s":     1260px,
    "r":     1920px,
    "l":     2460px,
    "u":     4060px,
    
    "1K":    1920px,
    "2K":    2560px,
    "4K":    4096px,
    "8K":    8192px,
    
    "phone": 920px,
    "pad":   1260px,
    "pc":    1920px,
    "tv":    2460px,
);

@mixin fit($key) {
    $point: null;
    @if meta.type-of($key) == number {
        $point: $key;
    } @else {
        $point: map.get($map, $key);
    }
    @if $point { @media (width >= $point) { @content; } }
}


// ================================================== ↓ example


// .item {
//     @include fit("pc") {
//         //...
//     }
//     @include fit(1920px) {
//         //...
//     }
// }

