

@use "sass:map";
@use "sass:meta";


$map: (
    "phone": 920px,
    "pad":   1260px,
    "pc":    1920px,
    "tv":    2460px,
    
    "1K":    1920px,
    "2K":    2560px,
    "4K":    4096px,
    "8K":    8192px,
    
    "x": 2460px,
    "l": 1920px,
    "m": 1260px,
    "s": 920px,
);

@mixin fit($key) {
    $point: null;
    @if meta.type-of($key) == number {
        $point: $key;
    } @else {
        $point: map.get($map, $key);
    }
    @if $point { @media (width <= $point) { @content; } }
}

// ================================================== ↓ example

// .item {
//     @include fit("phone") {
//         //...
//     }
//     @include fit(1920px) {
//         //...
//     }
// }

